.topBar {
    display: flex;
    justify-content: right;
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
}

.topBar > button {
    all: unset;
    color: var(--color3);
    margin-right: 40px;
    -webkit-app-region: none;
}
