body {
    background-color: #212922;
    /* background-image: url("https://c.tenor.com/U3-ceuFgn5MAAAAS/gustavo-fring-flexing.gif"); */
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.PrivateKeyForm {
    width: 100%;
}

.RPCForm {
    width: 100%;
}

.ContractAddressForm {
    width: 100%;
}

.ABIForm {
    width: 100%;
}

.PriceForm {
    width: 100%;
}

.AmountForm {
    width: 100%;
}

.mintPage {
    margin-top: 5%;
    width: 100%;
    height: 100%;
}

.bottomPage {
    position: absolute;
    bottom: 0;
}