body {
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.privateKeyForm {
    width: 50%;
}

.mintPage {
    width: 100%;
    height: 100%;
}